* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    width: 8rem;
    height: 2.2rem;
    margin: 0.3rem;
    font-size: 1.3rem;

    &:nth-child(1) {
        background: #ff9994;
    }
    &:nth-child(2) {
        background: #ffffa1;
    }
    &:nth-child(3) {
        background: #a6f1a6;
    }
    &:nth-child(4) {
        background: #add8e6;
    }
}

.demoScreenOne,
.demoScreenTwo {
    display: none;
}

.active {
    display: block;
}

.demoSelect {
    position: absolute;
    top: 0.5rem;
    width: 20vw;
    height: 20rem;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        z-index: 1;
        background-color: #ccc;
    }
}

.center {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smallContainer {
    padding: 1rem;
    border: #ccc dotted 2px;
    width: 32rem;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.leftsidebar,
.rightsidebar {
    position: absolute;
    top: 0;
    padding: 3rem;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
        margin: 1rem;
    }

    button {
        background: #d8bfd8;
        min-width: auto;
        height: auto;
        font-size: 1rem;
    }
}

.leftsidebar {
    left: 0;
}
.rightsidebar {
    right: 0;
}
