* {
  margin: 0;
  padding: 0;
  overflow: hidden; }

button {
  width: 8rem;
  height: 2.2rem;
  margin: 0.3rem;
  font-size: 1.3rem; }

.demoOneButtons:nth-child(1) {
  background: #ff9994; }

.demoOneButtons:nth-child(2) {
  background: #ffffa1; }

.demoOneButtons:nth-child(3) {
  background: #a6f1a6; }

.demoOneButtons:nth-child(4) {
  background: #add8e6; }

.demoTwoButtons {
  border-radius: 10px;
  border: solid grey 1px; }
  .demoTwoButtons:nth-child(1) {
    background: #e3b4d3; }
  .demoTwoButtons:nth-child(2) {
    background: #a9cae3; }
  .demoTwoButtons:nth-child(3) {
    background: #cdb4d8; }

.demoScreenTwo .leftsidebar {
  width: 33vw; }
  .demoScreenTwo .leftsidebar > * {
    margin: 1rem; }
    .demoScreenTwo .leftsidebar > * > button {
      height: 1rem;
      text-align: center;
      line-height: 0rem;
      border-radius: 10px;
      border: solid 3px #ccc; }
  .demoScreenTwo .leftsidebar .inputLabel {
    display: inline-block;
    vertical-align: middle; }

.demoScreenTwo .smallBtnCtn > * {
  padding-left: 1rem;
  padding-right: 1rem; }

.demoScreenTwo .smallTextCtn {
  margin-top: 1.4rem;
  margin-bottom: 1rem; }

.demoScreenTwo .textInput {
  height: auto;
  font-size: 1.4rem;
  vertical-align: middle;
  padding-left: 0.25rem;
  width: 90%;
  margin: auto; }

.demoScreenTwo .codeInput,
.demoScreenTwo .categoryAssignInput {
  height: auto;
  font-size: 1rem;
  padding: 0.5rem;
  width: 30vw;
  margin: auto; }

.demoScreenTwo .dropDownSelection {
  font-size: 1.4rem;
  display: block;
  width: 15rem; }

.demoScreenOne,
.demoScreenTwo {
  display: none; }

.active {
  display: block; }

.demoSelect {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .demoSelect button {
    z-index: 1;
    background-color: #ccc; }

.center {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.smallBtnCtn > button {
  height: 1rem;
  width: auto;
  padding: 1rem;
  line-height: 0; }

.horizontalBtns {
  padding: 1rem; }
  .horizontalBtns button {
    width: 8rem;
    margin: 0 auto;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }

.verticalBtns {
  display: flex;
  flex-direction: column; }
  .verticalBtns button {
    width: 8rem;
    margin: 0.3rem auto; }

h4 {
  display: inline-block; }

.smallContainer {
  border: #ccc dotted 2px;
  width: auto;
  padding: 2rem; }
  .smallContainer > h3 {
    padding-bottom: 2rem; }

.fullscreen {
  height: 100vh; }

.pagecolumns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start; }

.barcolumn {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  z-index: 1;
  padding: 1rem;
  padding-right: 0;
  height: auto;
  width: auto; }
  .barcolumn > * {
    margin: 1rem; }
  .barcolumn button {
    background: #d8bfd8;
    min-width: auto;
    min-height: auto;
    font-size: 1rem; }
  .barcolumn .verticalCentreColumn {
    display: flex; }

.assignmentOptions > button {
  height: auto; }

.messageContainer {
  width: 15vw; }

.demoTwoGridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .demoTwoGridContainer :nth-child(1) {
    grid-area: 1 / 1 / 2 / 4; }
  .demoTwoGridContainer :nth-child(2) {
    grid-area: 1 / 3 / 2 / 6; }
  .demoTwoGridContainer :nth-child(3) {
    grid-area: 2 / 1 / 4 / 3; }
  .demoTwoGridContainer :nth-child(4) {
    grid-area: 2 / 3 / 4 / 6; }

.eventListenerInfo {
  width: 50vw;
  text-align: left;
  overflow: hidden;
  white-space: nowrap; }
  .eventListenerInfo > p {
    width: 100%;
    text-overflow: ellipsis; }

.demoTwoGridBox {
  padding: 1rem; }
  .demoTwoGridBox button {
    background: #d8bfd8;
    min-width: auto;
    min-height: auto;
    font-size: 1rem; }

.demoScreenTwo {
  margin: 2rem; }
  .demoScreenTwo .eventListenerInfo {
    width: auto;
    text-align: left;
    overflow: hidden;
    max-height: 100%;
    box-sizing: border-box; }
    .demoScreenTwo .eventListenerInfo > p {
      width: 60rem;
      height: 8rem;
      text-overflow: ellipsis;
      overflow-y: scroll; }

.tableContainer {
  height: 8rem;
  width: 40rem;
  text-align: center; }
  .tableContainer th,
  .tableContainer td {
    width: 20rem;
    white-space: nowrap; }

.tableHead,
.tableBody {
  display: block;
  text-align: center; }

.tableBody {
  height: 6.5rem;
  overflow-y: scroll;
  width: auto;
  overflow-x: hidden; }

.removeByHashInstructions,
.removeByElementInstructions,
.removeByCategoryInstructions,
.removeAllInstructions {
  display: none; }

.active {
  display: block; }
