* {
  margin: 0;
  padding: 0; }

button {
  width: 8rem;
  height: 2.2rem;
  margin: 0.3rem;
  font-size: 1.3rem; }
  button:nth-child(1) {
    background: #ff9994; }
  button:nth-child(2) {
    background: #ffffa1; }
  button:nth-child(3) {
    background: #a6f1a6; }
  button:nth-child(4) {
    background: #add8e6; }

.center {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .container button {
    background: #d8bfd8;
    width: 10rem;
    font-size: 1rem; }
