* {
  margin: 0;
  padding: 0;
  overflow: hidden; }

button {
  width: 8rem;
  height: 2.2rem;
  margin: 0.3rem;
  font-size: 1.3rem; }

.demoOneButtons:nth-child(1) {
  background: #ff9994; }

.demoOneButtons:nth-child(2) {
  background: #ffffa1; }

.demoOneButtons:nth-child(3) {
  background: #a6f1a6; }

.demoOneButtons:nth-child(4) {
  background: #add8e6; }

.demoTwoButtons {
  border-radius: 10px;
  border: solid grey 1px; }
  .demoTwoButtons:nth-child(1) {
    background: #e3b4d3; }
  .demoTwoButtons:nth-child(2) {
    background: #a9cae3; }
  .demoTwoButtons:nth-child(3) {
    background: #cdb4d8; }

.demoScreenTwo .leftsidebar {
  width: 33vw; }
  .demoScreenTwo .leftsidebar > * {
    width: 100%;
    margin: 1rem; }
    .demoScreenTwo .leftsidebar > * > button {
      height: 1rem;
      text-align: center;
      line-height: 0rem;
      border-radius: 10px;
      border: solid 3px #ccc; }
  .demoScreenTwo .leftsidebar .inputLabel {
    display: inline-block;
    vertical-align: middle; }

.demoScreenTwo .smallBtnCtn > * {
  padding-left: 1rem;
  padding-right: 1rem; }

.demoScreenTwo .smallTextCtn {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.demoScreenTwo .textInput {
  height: auto;
  font-size: 1.4rem;
  vertical-align: middle;
  padding-left: 0.25rem; }

.demoScreenTwo .codeInput {
  height: auto;
  font-size: 1rem;
  padding: 0.5rem; }

.demoScreenTwo .textInput,
.demoScreenTwo .codeInput {
  width: 90%;
  margin: auto; }

.demoScreenOne,
.demoScreenTwo {
  display: none; }

.active {
  display: block; }

.demoSelect {
  position: absolute;
  top: 0.5rem;
  width: 20vw;
  height: 20rem;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .demoSelect button {
    z-index: 1;
    background-color: #ccc; }

.center {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.smallBtnCtn {
  width: 100%; }
  .smallBtnCtn > button {
    height: auto;
    width: auto;
    padding: 1rem; }

.testButtons .smallBtnCtn button {
  min-width: 6rem; }

.smallContainer {
  padding: 1rem;
  border: #ccc dotted 2px;
  min-width: 32rem;
  width: auto; }

.fullscreen {
  width: 100vw;
  height: 100vh; }

.leftsidebar,
.rightsidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  padding: 3rem;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .leftsidebar > *,
  .rightsidebar > * {
    margin: 1rem; }
  .leftsidebar button,
  .rightsidebar button {
    background: #d8bfd8;
    min-width: auto;
    height: auto;
    font-size: 1rem; }

.leftsidebar {
  left: 0; }

.rightsidebar {
  right: 0; }
